parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - vendor
    checkGenericClassInNonGenericObjectType: true
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        -
            identifier: missingType.iterableValue
